
@{
    ViewBag.Title = "Subscription";
}

<div class="side_bar">
    <form action="http://wexplorer.ru" method="get" class="form_user_search">
        <input type="text" name="s" placeholder="Поиск по блогу" class="user_search" value="" tabindex="4">
        <input type="submit" value="Найти" class="search_button" />
    </form>
    <div class="podpiska">
        <h4 class="social_h">Подпишитесь на новые статьи</h4>
        <img src="http://wexplorer.ru/podpiska.gif" alt="Подпишись на ноые статьи wexplorer.ru">
        <form action="http://wexplorer.ru" method="get" class="form_podpiska">
            <input type="text" name="s" placeholder="Введите свой e-mail:" class="podpiska_mail" value="" tabindex="5">
            <input type="submit" value="Получать статьи!" class="podpiska_button" />
        </form>
    </div>
    <div class="social">
        <div class="social_div">
            <a href="https://plus.google.com/111393808876134963318" rel="author" target="_blank" title="Я в Google+"><img src="http://wexplorer.ru/images/social/google.png" alt="Google+"></a>
            <a onclick="clean_https('_wexplorer.ru')"><img src="http://wexplorer.ru/images/social/fb.png" alt="Я в фэйсбук"></a>
            <a onclick="clean_https('_wexplorer.ru')"><img src="http://wexplorer.ru/images/social/rss.png" alt="rss"></a>
        </div>
    </div>
</div>

