@{
    ViewBag.Title = "AdminMenu";
}

<div>
    <ul class="menu_items">
        <li>@Html.ActionLink("Редактировать Посты", "Index")</li>
        <li>@Html.ActionLink("Создать Пост", "CreatePost")</li>
    </ul>
</div>

