        <div class="best_post">
		  <h4 class="about_me">Читайте также - самые интересные истории обо мне</h4>
		  <div class="photo_best">
		    <a onclick="new_page('_about/kak-ya-chut-ne-razbilsya-prigaya-s-parashyoutom')"><img class="img_best_pages" src="http://wexplorer.ru/best-article/parashyut.jpg" alt="Прыжок с парашютом"></a><br>
		    <a onclick="new_page('_about/kak-ya-chut-ne-razbilsya-prigaya-s-parashyoutom')">Как я чуть не разбился прыгая с парашютом</a>
		  </div>
		  <div class="photo_best">
		    <a onclick="new_page('_about/moi-haski')"><img class="img_best_pages" src="http://wexplorer.ru/best-article/husky.jpg" alt="Мои хаски"></a><br>
		    <a onclick="new_page('_about/moi-haski')">Мои хаски или вся правда об этой породе</a>
		  </div>
		  <div class="photo_best">
		   <a onclick="new_page('_about/motocikl-opasno-ili-net')"><img class="img_best_pages" src="http://wexplorer.ru/best-article/motocikl.jpg" alt="Мотоцикл"></a><br>
		    <a onclick="new_page('_about/motocikl-opasno-ili-net')">Мотоцикл опасно или нет, мой опыт</a>
		  </div>
		  <div class="photo_best">
		    <a onclick="new_page('_travel/3-samyh-beshenyh-attrakciona-evropy')"><img class="img_best_pages" src="http://wexplorer.ru/best-article/amerikanskie-gorki.jpg" alt="Американские горки"></a><br>
		    <a onclick="new_page('_travel/3-samyh-beshenyh-attrakciona-evropy')">3 самых бешеных аттракциона Европы</a>
		  </div> 
		</div>
