@model Wexplorer.Web.Models.PostsModel
@{
    ViewBag.Title = "Posts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div itemscope itemtype="http://schema.org/Blog" class="posts">
    @Html.Partial("BlogPosts", Model.Posts)
    <div class="pages">
        @Html.PageLinks((Wexplorer.Web.Models.PagingInfo)Model.PagingInfo, x => Url.Action("Posts", new { page = x }))
    </div>
</div>

