@model IEnumerable<Wexplorer.Data.Entities.Category>
@{
    ViewBag.Canonical = "http://wexplorer.ru/sitemap";
    ViewBag.Title = "Список статей";
    ViewBag.Description = "Все статьи блога Тимура Казанского";
}
<div class="site_map">
    @foreach (var categories in Model)
    {
        <div itemscope itemtype="http://schema.org/ItemList">
            <h3 itemprop="name" class="sitemap_h3">@categories.NameCategory</h3>
            @foreach (var posts in categories.Posts)
            {
                <p itemprop="itemListElement" class="sitemap_p">&rarr; <a class="post_preview_a" href="@("http://wexplorer.ru/" + posts.Category.UrlCategory + "/" + posts.UrlPost)">@posts.Title</a></p>
            }
        </div>
    }
</div>