body {
    font-family: Verdana,sans-serif;
    font-size: 14px;
    line-height: 170%;
}
img {
    width: 100%;
    max-width: 400px;
    height: auto;
}
div.all {
    width: 97%;
}


div.navigation {
    float:right;
}
ul.menu_items {
    
}
ul.menu_items li {
    display: inline-block;
}
ul.menu_items li a{
    position: relative;
    display: block;
    margin-right: 1.618em;
    padding: 15px 0 5px;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    line-height: 30px;
    font-weight: 700;
    font-family: "Helvetica Neue","Segoe UI",Arial,sans-serif;
}
ul.menu_items li a:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    background: black;
    height: 2px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

ul.menu_items li a:hover:before, ul.menu_items li a:focus:before, ul.menu_items li a:active:before {
  left: 0;
  right: 0;
}

div.content {
    float:left;
    width: 70%;
    height: 97%;
    padding-left: 3em;
}

/*Posts*/

h2.posts_preview_h2 {
    line-height: 35px;
    font-weight: 500;
    font-size: 28px;
    font-family: 'Fira Sans',sans-serif;
    margin-bottom: 10px;
}

.posts_date {
    color: #7e7e7e;
    font-size: 12px;
}

.category {
    color: #7e7e7e;
    font-size: 15px;
}
.post_category_a {
    color: #3367D6;
    text-decoration: none;
    font-family: 'Fira Sans',sans-serif;
}

/*Button for posts*/
button.posts_btn {
  background: #f9f9f9;
  border: 1px solid #bbb;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 1px 1px #f6f6f6;
  box-shadow: inset 0 0 1px 1px #f6f6f6;
  color: #333;
  font: bold 12px/1 "helvetica neue", helvetica, arial, sans-serif;
  padding: 8px 0 9px;
  text-align: center;
  text-shadow: 0 1px 0 #fff;outline:0;
  width: 150px; 
  padding-top: 10px;
  margin-top: 12px;
  margin-bottom: 40px;
}
  
button.posts_btn:hover {
    background: #efeded;
    -webkit-box-shadow: inset 0 0 1px 1px #eaeaea;
    box-shadow: inset 0 0 1px 1px #eaeaea;
    color: #222;
    cursor: pointer; 
}

button.posts_btn:active {
    background: #d0d0d0;
    -webkit-box-shadow: inset 0 0 1px 1px #e3e3e3;
    box-shadow: inset 0 0 1px 1px #e3e3e3;
    color: #000; 
}
/*Button for pages*/
div.pages a  {
  position: relative;
  display: inline-block;
  margin-right: 0.5em;
  margin-top: 30px;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  color: #000;
  outline: none;
  border-radius: 5px;
  box-shadow: 0 0 0 1px #ddd inset, 0 1px 1px #fff;
}
div.pages a:hover {
  background: #dcdcdc linear-gradient(#fff, #dcdcdc);
  box-shadow: 0 0 0 1px #aaa inset, 0 1px 1px #aaa;
}
div.pages a:active {
  background: none;
  box-shadow: 0 0 0 1px #bbb inset, 0 1px 3px rgba(0,0,0,.5) inset, 0 1px 2px #fff;
}

/*Post*/

h2.post_preview_h2 {
    line-height: 35px;
    font-weight: 500;
    font-size: 28px;
    font-family: 'Fira Sans',sans-serif;
}

.post_date {
    color: #7e7e7e;
    font-size: 12px;
}

.editTextBox {
    display: block;
    float: left;
    width: 260px;
    margin: 0 0 1.2em;
    padding: 5px 0.7em;
    border: solid 1px #ccc;
    background: #f0f0f0;
    border-radius: 5px;
}
#editTextArea {
    border: solid 1px #ccc;
    background: #f0f0f0;
    border-radius: 5px;
    padding: 7px 1.5%;
    margin: 0px 0px 15px;
    width: 552px;
    height: 198px;
}
a.post_preview_a {
    color:black;
    text-decoration: none;
}

div.site_map {
}
.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
    font-size: small;
    padding-left: 1em;
}

div.footer {
  text-align: center;
  padding: .5em 0 0 0;
  font-style: italic;
  clear: left;
}




/*Admin*/

div.adminEditPost {
  padding-top: 2em;
}