@{
    ViewBag.Title = "Contacts";
}

<div itemscope itemtype="http://schema.org/PostalAddress" class="post">
    <h1 class="kontakty_h1">Контакты</h1>
    <p class="kontakty_p">Всем привет! По всем возникащим вопросам вы можете связаться со мной:</p><br>
    <p>
        &rarr; <span itemprop="name">Тимур Казанский</span><br>
        &rarr; <span itemprop="addressLocality">г. Казань</span><br>
        &rarr; Индекс: <span itemprop="postalCode">420094</span><br>
        &rarr; <span itemprop="streetAddress">ул. Маршала Чуйкова, 2</span><br>
        &rarr; Тел.: <span itemprop="telephone">+79376254668</span><br>
        &rarr; E-mail: <span itemprop="email">emailtotimur@gmail.com</span>
    </p><br>
</div>